ptb-xl-a-large-publicly-available-electrocardiography-dataset-1.0.3/
datasets/*
env/
__pycache__/
*.pyc
outputs/
HeartBeats/
Prna/
SharifAITeam/
Triage/
Between_a_ROC_and_a_heart_place/
.gitignore/
2026-_Sağlıkta_Yapay_Zeka_Türkçe_Şartname_v4_6k439.pdf/
birunaikeremabi.pdf/
Coklu_Veri_Seti_Stratejisi.pdf/
TCUKnNIkScAZM1QkMQLZ9iMA786eTuZM.pdf/
TEKNOFEST_2026_2Asama_Teknik_Rapor-2.pdf/